@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Black.woff2") format("woff2"),
	url("./font/museo_moderno-Black.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Bold.woff2") format("woff2"),
	url("./font/museo_moderno-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-ExtraBold.woff2") format("woff2"),
	url("./font/museo_moderno-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-ExtraLight.woff2") format("woff2"),
	url("./font/museo_moderno-ExtraLight.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Light.woff2") format("woff2"),
	url("./font/museo_moderno-Light.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Medium.woff2") format("woff2"),
	url("./font/museo_moderno-Medium.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Regular.woff2") format("woff2"),
	url("./font/museo_moderno-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-SemiBold.woff2") format("woff2"),
	url("./font/museo_moderno-SemiBold.woff") format("woff");
}
@font-face {
	font-family: 'Museo Moderno';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local(''),
	url("./font/museo_moderno-Thin.woff2") format("woff2"),
	url("./font/museo_moderno-Thin.woff") format("woff");
}
